nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #F9F9F9;
  color: black;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Source Sans Pro", sans-serif;
}

nav #title {
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
}

nav a {
  background-color: transparent;
  font-family: unset;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.navlink {
  cursor: pointer;
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: inherit;
}

.navlink:hover {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04);
}

.navlink:active {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.065);
}

nav ul {
  margin: 0;
  margin-right: 1.5rem;
  list-style-type: none;
  display: flex;
  padding: 0;
  font-size: 0.8rem;
  height: 100%;
}

nav li {
  padding: 0;
  margin: 0;
}

#about-page {
  font-size: 1.2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: black;
  align-items: center;
  justify-content: center;
}

#about-page .page {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about-page p {
  margin: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

#about-page h1 {
  margin-top: none;
  margin-bottom: none;
  margin: 1rem;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-bottom: solid 0.25rem black;
}

#about-page div > * {
  max-width: 42rem;
}

#resume-button {
  cursor: pointer;
  margin: 1rem;
  margin-bottom: 2rem;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  border: unset;
  box-shadow: unset;
  background-color: black;
  color: #F9F9F9;
  border: solid 0.125rem black;
}

#resume-button:hover {
  background-color: #F9F9F9;
  color: black;
}

#resume-button:active {
  background-color: rgba(0, 0, 0, 0.065);
}

#experience-page .page {
  display: flex;
  flex-flow: column;
}

#experience-page .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}

@media only screen and (max-width: 1000px) {
  #experience-page .items {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 800px) {
  #experience-page .items {
    grid-template-columns: 1fr;
  }
}
#experience-page .experience-entry {
  color: black;
  margin: 1rem;
  margin-top: 0;
  overflow: hidden;
}

#experience-page .experience-entry header {
  padding-bottom: 0.5rem;
  padding-top: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

#experience-page .experience-entry h2 {
  margin-bottom: 0.25rem;
}

#experience-page .experience-entry h3 {
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#experience-page .experience-entry ul {
  margin: 0.5rem;
  padding: 0;
  padding-left: 0.25rem;
}

#experience-page .experience-entry li {
  margin: 0.5rem;
}

#education-page .page {
  display: flex;
  flex-flow: column;
}

#education-page .education-information {
  align-self: center;
  max-width: 44rem;
  width: 100%;
}

#education-page .education-information header {
  margin: 2rem;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

#gpa-etc {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

#education-page .education-information p {
  margin: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.education-subheading {
  margin: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 1.1rem;
}

#education-page .education-information header h2 {
  margin-bottom: 0.25rem;
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

#education-page .education-information header h3 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#projects-page .page {
  display: flex;
  flex-flow: column;
}

#projects-page h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

#projects-page h2 {
  margin: 0;
  padding: 0;
}

#projects-page .project-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#projects-page .project-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 42rem;
}

#projects-page h2 a {
  text-decoration: unset;
  color: unset;
}

#projects-page h2 a:active {
  color: unset;
}

#projects-page h2 a:hover {
  text-decoration: underline;
}

#projects-page .project-box p {
  padding: 0;
  margin: 0;
}

#projects-page .box-content {
  margin: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

#projects-page .box-image {
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

#projects-page .project-link {
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: unset;
  color: unset;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.4rem;
  margin-right: -1px;
  border: solid 1px #d7d7d7;
}

#projects-page .project-link:active {
  color: unset;
  background-color: rgba(0, 0, 0, 0.06);
}

#projects-page .project-link:hover {
  color: unset;
  background-color: rgba(0, 0, 0, 0.07);
}

#projects-page .project-links {
  margin: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #F9F9F9;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

@media (hover: none) {
  body {
    background-image: unset;
    background-color: rgba(0, 0, 0, 0.05);
  }
}
section {
  min-height: 100vh;
  max-height: unset;
  display: flex;
  flex-flow: column;
}

.page {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  align-self: stretch;
  background-color: #F9F9F9;
  display: flex;
}

h1 {
  font-size: 2.2rem;
}

.spacer {
  width: 100%;
  height: 5rem;
}

h1, h2, h3 {
  font-family: "Source Sans Pro", sans-serif;
}

section h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

/*# sourceMappingURL=index.css.map */
