@import 'variables.scss';

#about-page {
  font-size:1.2rem;
  display: flex;
  flex-flow:column;
  align-items: center;
  justify-content:center;
  color:$fg;
  align-items: center;
  justify-content:center;
}

#about-page .page {
  flex-flow:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

#about-page p {
  margin:2rem;
  margin-top:0;
  margin-bottom:0;
}

#about-page h1 {
  margin-top:none;
  margin-bottom:none;
  margin:1rem;
  padding:1rem;
  padding-left:3rem;
  padding-right:3rem;
  border-bottom: solid 0.25rem $fg;
}

#about-page div > * {
  max-width: 42rem;
}

#resume-button {
  cursor:pointer;
  margin:1rem;
  margin-bottom:2rem;
  font-family: $heading-font;
  padding:0.5rem;
  font-size:1rem;
  border:unset;
  box-shadow:unset;
  background-color: $fg;
  color: $bg;
  border: solid 0.125rem $fg;
}

#resume-button:hover {
  background-color: $bg;
  color: $fg;
}

#resume-button:active {
  background-color: rgba(0,0,0, 0.065);
}
