@import 'variables.scss';

#education-page .page {
  display:flex;
  flex-flow:column;
}

#education-page  .education-information {
  align-self:center;
  height:100%;
  max-width:40rem;
  width:100%;
}

#education-page .education-information header {
  margin: 2rem;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px  rgba(0,0,0,0.1);
}
#gpa-etc {
  border-bottom: solid 1px  rgba(0,0,0,0.1);
}
#education-page .education-information p {
  margin: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.education-subheading {
  margin: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

#education-page .education-information header h2 {
  margin-bottom:0.25rem;
  margin:0;
  padding:0;
}


#education-page .education-information header h3 {
  font-weight:normal;
  margin:0;
  padding:0;
}

