@import 'variables.scss';

#experience-page .page {
  display:flex;
  flex-flow: column;
}
#experience-page .items {
  display:grid;
  grid-template-columns: 1fr 1fr;
  padding:1rem;
}

@media only screen and (max-width: 800px) {
  #experience-page .items {
    grid-template-columns: 1fr;
  }
}

#experience-page .experience-entry {
  color: $fg;
  margin: 1rem;
  margin-top: 0;
  overflow: hidden;
}

#experience-page .experience-entry header {
  padding-bottom: 0.5rem;
  padding-top: 0;
  border-bottom: solid 1px  rgba(0,0,0,0.1);
}

#experience-page .experience-entry h2 {
  margin-bottom:0.25rem;
}

#experience-page .experience-entry h3 {
  font-size:0.8rem;
  font-weight:normal;
  margin:0;
  padding:0;
}

#experience-page .experience-entry ul {
  margin:0.5rem;
  padding: 0;
  padding-left: 0.25rem;
}

#experience-page .experience-entry li {
  margin:0.5rem;
}

