@import 'variables.scss';
@import 'nav.scss';
@import 'about.scss';
@import 'experience.scss';
@import 'education.scss';
@import 'projects.scss';
html,body {
  margin:0;
  padding:0;
  height:100vh;
  width:100vw;
}

body {
  background-color: $bg;
  // background-image:url('../assets/bg.jpg');
  // background-size:cover;
  // background-attachment: initial;
  color: $fg;
  font-size:1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:400;
}
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('../assets/bg.jpg') no-repeat center center;
  background-size:cover;
}

section {
  min-height:100vh;
  max-height: unset;
  display: flex;
  flex-flow:column;
}

.content {
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  flex-grow:1;
  align-self:stretch;
  background-color:$bg;
  display:flex;
}

h1 {
  font-size: 2.2rem;
}

.spacer{
  width:100%;
  height:5rem;
}

h1,h2,h3 {
  font-family: $heading-font;
}


section h1 {
  margin-top:0;
  margin-bottom:0;
  padding-left:2rem;
  padding-right:2rem;
  padding-top:2rem;
}

